<h1>Homepage</h1>
{% if not giornata_iniziata %}
<div id="timer" data-time="{{tempo_rimanente}}" style=""></div>
<div id="azioni">
    <button id="btn-formazione"> Schiera formazione </button>
</div>
{% else %}
<button> Vai al live </button>
{% endif %}
<div id="partite">
    {{ultima_giocata}}
    {{prossima_partita}}
</div>

<script>
    const timer=document.getElementById("timer");
    if (timer){
        let dataTime=Number(timer.dataset.time);
        let intervalId=setInterval(()=>{
            if (dataTime <=0){
                clearInterval(intervalId);
                document.getElementById("btn-formazione").innerText = "Vai al live";
                document.getElementById("btn-formazione").id = "btn-live";
                document.getElementById("timer").style = "display: none";
                return;
            }
            dataTime-=1;
            const ore=aggiungiZero(Math.floor(dataTime/3600));
            const minuti=aggiungiZero(Math.floor((dataTime%3600)/60));
            const secondi=aggiungiZero(Math.floor((dataTime%3600)%60));
            timer.innerText=`${ore}:${minuti}:${secondi}`
        }, 1000);
    }
    function aggiungiZero(num){
        if (num<10){
            num="0"+num;
        }
        return String(num)
    }
   
</script>